.header__title {
  text-decoration: none;
  color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #A00710;
}

.header__hamburger {
  margin: 1rem;
  cursor: pointer;
}

.header__category-link {
  margin-right: 1rem;
  text-decoration: none;
  color : #fff;
}
